<!DOCTYPE html>
<html>
<head><title>Sign Up as a Contributor</title></head>

<body>
<h1>Join the WikiCuraçao Community</h1>

<form action="/contributors" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username">
    
    <br>
    <input type="submit" value="Create User">
</form>

<a href='/'>Back to homepage</a>
</body>
</html>