<!DOCTYPE html>
<html>
<head><title>About WikiCuracao</title></head>

<body>
<h1>About WikiCuracao</h1>

<p>WikiCuracao is the web's best source for pertinent
information on the island of Curacao. Thank you for using
our app.</p>

<br>
<a href='/'>Back to homepage</a>
</body>
</html>