<!DOCTYPE html>
<head><title>Welcome to WikiCuraçao</title></head>

<body>
<h1>WikiCuraçao</h1>

<ul>
<li><a href="/about">Learn about WikiCuraçao</a></li>
<li><a href="/articles">View all of WikiCuraçao's Articles</a></li>
<li><a href="/contributors">Browse our contributors</a></li>
<br>
<li><a href="/contributors/new">Join our community</a>
<li><a href="/articles/new">Create a new article</a>
</ul>

<p>Some copyright data stuff.</p>

</body>
<html>