<!DOCTYPE html>
<head><title>Welcome to WikiCuracao</title></head>

<body>
<h1>WikiCuracao</h1>

<ul>
<li><a href="/about">Learn about WikiCuracao</a></li>
<li><a href="/articles">View all of WikiCuracao's Articles</a></li>
<li><a href="/contributors">Browse our contributors</a></li>
</ul>

<p>Some copyright data stuff.</p>

</body>
<html>